files:
  "/home/ec2-user/seed_database.sql":
    mode: "000755"
    owner: root
    group: root
    content: |
      CREATE USER whatsnew SUPERUSER;
      ALTER USER whatsnew WITH PASSWORD 'whatsnew';
      CREATE DATABASE whatsnew_production WITH OWNER whatsnew;

commands:
  1_install_postgres:
    command: "sudo yum -y install postgresql94 postgresql94-server postgresql94-devel postgresql94-contrib postgresql94-docs"
  2_initialize_database:
    command: "sudo service postgresql initdb"
    ignoreErrors: true
  4_remove_existing_configuation:
    command: sudo sed -i -e '/# TYPE  DATABASE        USER            ADDRESS                 METHOD/,+20d' /var/lib/pgsql9/data/pg_hba.conf
  5_add_new_configuration:
    command: sudo sed -i -e "\$a# "local" is for Unix domain socket connections only\nlocal   all             all                                     trust\n# IPv4 local connections:\nhost    all             power_user      0.0.0.0/0               md5\nhost    all             other_user      0.0.0.0/0               md5\nhost    all             storageLoader   0.0.0.0/0               md5 \n# IPv6 local connections:\nhost    all             all             ::1/128                 md5" /var/lib/pgsql9/data/pg_hba.conf
  6_change_listen_addresses:
    command: sudo sed -i "59s/#listen_addresses = 'localhost'/listen_addresses='*'/" /var/lib/pgsql9/data/postgresql.conf
  7_uncomment_port_number:
    command: sudo sed -i "63s/#port = 5432/port = 5432/" /var/lib/pgsql9/data/postgresql.conf
  8_start_postgres:
    command: "sudo service postgresql start"
  9_execute_seed_sql_script:
    command: "psql -U postgres -f /home/ec2-user/seed_database.sql"
    ignoreErrors: true
