files:
  "/home/ec2-user/redis_setup.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      sudo yum -y install gcc make
      cd /usr/local/src
      sudo wget http://download.redis.io/releases/redis-3.2.0.tar.gz
      sudo tar xzf redis-3.2.0.tar.gz
      sudo rm -f 3.2.0.tar.gz
      cd redis-3.2.0
      sudo make distclean
      sudo make
      sudo yum install -y tcl
      sudo make test
      sudo mkdir -p /etc/redis /var/lib/redis /var/redis/6379
      sudo cp src/redis-server src/redis-cli
      sudo wget https://raw.githubusercontent.com/saxenap/install-redis-amazon-linux-centos/master/redis-server
      sudo mv redis-server /etc/init.d
      sudo chmod 755 /etc/init.d/redis-server
      sudo chkconfig --add redis-server
      sudo chkconfig --level 345 redis-server on
      sudo service redis-server start

commands:
  01_yum_update:
    command: "sudo yum -y install gcc make"
    ignoreErrors: true
  02_navigate_to_folder:
    command: "cd /usr/local/src"
    ignoreErrors: true
  03_get_redis_binary_tar:
    command: "sudo wget http://download.redis.io/releases/redis-3.2.0.tar.gz"
    ignoreErrors: true
  04_unzip_tar_file:
    command: "sudo tar xzf redis-3.2.0.tar.gz"
    ignoreErrors: true
  05_move_into_redis:
    command: "cd redis-3.2.0"
  06_make_distClean:
    command: "sudo make distclean"
    ignoreErrors: true
  07_make:
    command: "make"
    ignoreErrors: true
  08_install_tcl:
    command: "sudo yum install -y tcl"
    ignoreErrors: true
  09_test:
    command: "sudo make test"
    ignoreErrors: true
  10_make_redis_directory:
    command: "sudo mkdir -p /etc/redis /var/lib/redis /var/redis/6379"
    ignoreErrors: true
  11_copy_into_redis_directory:
    command: "sudo cp src/redis-server src/redis-cli"
  12_get_amazon_redis_server:
    command: "sudo wget https://raw.githubusercontent.com/saxenap/install-redis-amazon-linux-centos/master/redis-server"
    ignoreErrors: true
  13_move_redis_init:
    command: "sudo mv redis-server /etc/init.d"
    ignoreErrors: true
  14_change_file_access_modifiers:
    command: "sudo mv redis-server /etc/init.d"
    ignoreErrors: true
  15_pre_pre_start_server:
    command: "sudo chkconfig --add redis-server"
  16_pre_start_server:
    command: "sudo chkconfig --level 345 redis-server on"
  17_start_redis_server
    command: "sudo service redis-server start"
