<% if @keywords.present? %>
	<div class="keywords">
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading text-center" style="font-size:20px">Here's WhatsNew!!</div>
			<div>
				<% @keywords.each do |keyword| %>
					<div style="display: flex; align-items: center; justify-content: space-between;">
						<div><span style="width: 39px;"><img src="/public/images/<%=keyword.provider%>.png"/></span></div>
						<div><%= truncate(strip_tags(CGI.unescapeHTML(keyword.content || "")), length: 250) %></div>
						<div><a style="font-size: medium;" target="_blank" href="<%=keyword.uri%>"><img src="/public/images/arrow.png"/></a></div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="visuals">
		<svg id="bubbleChart" style="width: 2000px; height: 500px;"/>
		<span>
			<script type="text/javascript">
				paintBubbleChart(<%=@visuals.to_json.html_safe%>);
			</script>
		</span>
	</div>
<% else %>
	<img style="padding-left:500px;" src="/public/images/processing.gif"/>
	<span>Processing...</span>
<% end %>
