<div>
  <a href="#" onclick="paintBubbleChart(<%=@visuals%>)">Bubble chart</a>
</div>
<div class="bubble-chart-container" style="width: 1000px; height: 500px; margin: auto">
  <svg id="bubbleChart" style="width: 1000px; height: 500px;">
  </svg>
</div>
